<template>
  <div class="sign-in-callback" v-loading="true" element-loading-text="Please wait..."></div>
</template>

<script>
export default {
  created () {
    localStorage.setItem('_xtoken', this.$route.query.xtoken)
    window.location.href = '/'
  }
}
</script>

<style lang="scss" scoped>
.sign-in-callback {
  height: 100%;
}
</style>