<template>
  <div class="sidebar-menu">
    <div class="divider"></div>
    <div class="menu-item">
      <router-link :to="{ name: 'clusters' }" class="menu-item">Clusters</router-link>
    </div>
    <div class="divider"></div>
    <a href="#" @click.prevent="logout" class="menu-item">Logout</a>
    <div class="divider"></div>
  </div>
</template>

<script>
export default {
  methods: {
    logout () {
      localStorage.removeItem('_xtoken')
      window.location.reload()
    }
  }
}
</script>

<style lang="scss">

</style>
