.header {
  height: $navbar-height;
  background: $navbar-background;
  color: #ffffff;
  padding: 0;

  .navbar > .brand {
    font-size: 18px;
    //font-weight: 500;
    line-height: $navbar-height;
    margin-left: 72px;
  }

  .sidebar-control {
    width: $sidebar-width;
    display: inline-block;
    background: $sidebar-background;
    color: #333;

    .brand {
      font-size: 24px;
      font-weight: 500;
      line-height: $navbar-height;
    }

    &.dark {
      background: $navbar-background;
      color: #fff;

      a {
        color: #fff;
      }
    }
  }
}
