.sign-in {
  .sign-in-card {
    .el-card__header {
      border-bottom: 1px solid #1989fa !important;
      color: #1989fa;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
    }

    .el-card__body {
      padding: 50px 45px;
    }
  }
}