/* theme color */
$--color-primary: #d0021b;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

$sidebar-width: 256px;
$sidebar-background: #f5f7fa;

$navbar-height: 64px;
$navbar-background: #4a4a4a;
