.view {
  padding-bottom: 30px;

  .nav {
    padding: 30px 24px 0 24px;
  }

  .section {
    padding: 30px 24px 0 24px;

    .label {
      margin: 0;
      text-transform: uppercase;
      border-bottom: 1px solid #ebeef5;
      padding-bottom: 6px;
      margin-bottom: 12px;
    }
  }
}